/*==================================================================================================
 * THIS FILE IS USED TO SPECIFY INPUT, OUTPUTS AND PARAMETERS. THE FOLLOWING OPTIONS ARE THE ALLOWED:
 * ==================================================================================================
 * data         : Path to where the data is (FASTQ files).
 * out          : Path to store output results.
 * bundle       : GATK-b37-bundle list file.
 * mode         : Worflow step to perform. Can be any of [ do.GetContainers | do.GenomeIndexing | do.QC | do.ReadTrimming | do.ReadAlignment | do.VarianCalling | do.VariantFiltering | do.MultiQC ].
 * trim         : Trimming options for Trimmomatic.
 * resources    : Location of the GATK-b37-bundle folder.
 * from         : Workflow step to resume workflow from. Can be any of [ do.QC | do.ReadTrimming | do.ReadAlignment | do.VarianCalling | do.VariantFiltering ].
 * params.help  : Print help menu.
 * ==================================================================================================
 * BELOW ARE THE DEFAULT PARAMETERS! YOU'RE MORE THAN WELCOME TO CHANGE AS DESIRED!
 * ==================================================================================================
 */

// THESE PARAMETERS SET HERE ARE BASED ON THE CODATA MACHINES SETUP! WILL CHANGE!
params {
    // WORKFLOW MAIN PARAMETERS
    data          = "/home/nfs3/h3avarcall/sample"
    out           = "$baseDir/variant_calling_results"
    resources     = "/home/nfs3/h3avarcall/gatk-b37-bundle"
    bundle        = "/home/nfs3/h3avarcall/gatk-b37-bundle/b37_files_minimal.txt"
    mode          = null
    from          = null
    help          = null
    
    // WORKFLOW STEPS PARAMETERS
    trim         = "ILLUMINACLIP:TruSeq3-PE-2.fa:2:30:10:8:true TRAILING:28 MINLEN:40"
    
    // RESOURCES
    max_memory   = 50.GB
    max_cpus     = 24
    max_time     = 24.h
}
