// PARAMETERS GO HERE! WILL BE IN A SEPARATE CONFIG FILE - JUST TESTINF FOR NOW!
params {
    // data          = "$baseDir/data/genome_in_a_bottle"
    // out           = "$baseDir/results_genome_in_a_bottle"
    data          = "$baseDir/data/welcome_trust"
    out           = "$baseDir/results_welcome_trust"
    bundle        = "$baseDir/templates/b37_files_minimal.txt"
    mode          = "do.Alignment" // DIFFENT MODES: do.GetContainers | do.GenomeIndexing | do.QC | do.Trimming | do.Alignment
    trim          = "ILLUMINACLIP:TruSeq3-PE-2.fa:2:30:10:8:true TRAILING:28 MINLEN:40"
    resources     = "/global/blast/gatk-bundle/b37"
}
