// CONFIGURATION FILE
manifest {
    author = 'H3ABioNet'
    description = 'H3ABioNet Variant Calling Workflow'
    mainScript = 'main.nf'
}

// PROCESS SETTINGS
process {
    // ALL PROCESSES
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    scratch = 'false'
    
    // PROCESS CONTAINERS AND RESOURCES
    withLabel:bwa {
        container = "$baseDir/containers/h3avarcall_bwa.sif"
    }
    withLabel:gatk {
        container = "$baseDir/containers/h3avarcall_gatk.sif"
    }
    withLabel:fastqc {
        container = "$baseDir/containers/h3avarcall_fastqc.sif"
    }
    withLabel:trimmomatic{
        container = "$baseDir/containers/h3avarcall_trimmomatic.sif"
    }
}

// SINGULARITY SETTINGS
singularity {
    enabled = true
    cacheDir = "$baseDir/containers"
    runOptions = "--bind /global:/global --cleanenv"
    autoMounts = true
}

// INPUT PARAMETERS
def checkOutPath() {
    if(params.out == null) {
        out_path = "$baseDir/workflow_results"
    } else{
        out_path = params.out
    }
}

// WORKFLOW TRACING
def workflowTracing() {
    if(params.mode == null || params.help || params.mode in [ 'do.GetContainers', 'do.GenomeIndexing']) {}
    else if( params.mode in ['do.QC', 'do.Trimming', 'do.Alignment', 'do.VariantCalling', 'do.VariantFiltering' ]) {    
        if(params.mode == 'do.QC') {
            trace_dir = "${out_path}/1_QC"
        } else if(params.mode == 'do.Trimming') {
            trace_dir = "${out_path}/2_Read_Trimming"
        } else if(params.mode == 'do.Alignment') {
            trace_dir = "${out_path}/3_Read_Alignment"
        } else if(params.mode == 'do.VariantCalling') {
            trace_dir = "${out_path}/4_Variant_Calling"
        } else if(params.mode == 'do.VariantFiltering') {
            trace_dir = "${out_path}/5_Variant_Filtering"
        } else {}
        trace {
            enabled = true
            file = "${trace_dir}/workflow_report/h3avarcall_trace.txt"
        }
        timeline {
            enabled = true
            file = "${trace_dir}/workflow_report/h3avarcall_timeline.html"
        }
        report {
            enabled = true
            file = "${trace_dir}/workflow_report/h3avarcall_report.html"
        }
        dag {
            enabled = true
            file = "${trace_dir}/workflow_report/h3avarcall_workflow.dot"
        }
    } else {}
}

// PIPELINE PROFILES
profiles {
    standard {
        executor = 'local'
        includeConfig "$baseDir/main.config"
        checkOutPath()
        workflowTracing()
    }
    slurm {
        executor = 'slurm'
        queue = 'batch'
        includeConfig "$baseDir/main.config"
        checkOutPath()
        workflowTracing()
    }
}
