// CONFIGURATION FILE
manifest {
    author = 'H3ABioNet'
    description = 'H3ABioNet Variant Calling Workflow'
    mainScript = 'main.nf'
}

// PROCESS SETTINGS
process {
    // ALL PROCESSES
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    scratch = 'false'
    //includeConfig "$baseDir/main.config"
    
    // PROCESS CONTAINERS AND RESOURCES
    withLabel:bwa {
        container = "$baseDir/containers/h3avarcall_bwa.sif"
    }
    withLabel:gatk {
        container = "$baseDir/containers/h3avarcall_gatk.sif"
    }
    withLabel:fastqc {
        container = "$baseDir/containers/h3avarcall_fastqc.sif"
    }
    withLabel:trimmomatic{
        container = "$baseDir/containers/h3avarcall_trimmomatic.sif"
    }
}

//SINGULARITY SETTINGS
singularity {
    enabled = true
    cacheDir = "$baseDir/containers"
    runOptions = "--bind /global:/global --cleanenv"
    autoMounts = true
}

// PIPELINE PROFILES
profiles {
    standard {
        executor = 'local'
    }
    slurm {
        executor = 'slurm'
        queue = 'batch'
    }
}
